﻿@using EmployeeDirectory.Features.Employees
@model EmployeeDirectory.Features.Employees.AddEmployee.Command

@{
    ViewBag.Title = "title";
}

<h1>Register</h1>
@using (Html.BeginForm())
{
    @Html.Input(x => x.Email)
    @Html.Input(x => x.FirstName)
    @Html.Input(x => x.LastName)
    @Html.Input(x => x.JobTitle)
    @Html.Input(x => x.Office)
    @Html.Input(x => x.PhoneNumber)
    @Html.Input(x => x.Password)
    @Html.Input(x => x.ConfirmPassword)

    <div>
        @Html.CreateButton("Register New Employee")
        @Html.CancelButton(Url.Action("Index"))
    </div>
}
