﻿@model EmployeeDirectory.Features.Employees.EditEmployee.Command

@{
    ViewBag.Title = "title";
}

<h1>Edit Employee</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)

        @Html.Input(x => x.Email)
        @Html.Input(x => x.FirstName)
        @Html.Input(x => x.LastName)
        @Html.Input(x => x.JobTitle)
        @Html.Input(x => x.Office)
        @Html.Input(x => x.PhoneNumber)

        <div>
            @Html.SaveButton()
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
