﻿@using EmployeeDirectory.Model
@model EmployeeDirectory.Features.Employees.EmployeeIndex.ViewModel[]
@inject UserContext User

@{
    ViewBag.Title = "title";
}

<table class="table table-striped table-hover">
    @foreach (var employee in Model)
    {
    <tr>
        <td>@employee.FullName</td>
        <td>@employee.JobTitle</td>
        <td>@employee.Office</td>
        <td>@employee.Email</td>
        <td>@employee.PhoneNumber</td>
        <td>
            <a href="@Url.Action("Edit", "Employees", new { employee.Id })">@Html.Icon("edit")</a>
        </td>
        <td>
            @if (employee.Id != User.User.Id)
            {
                <a href="#" class="garbage-icon"
                   data-target="#modal-container" data-toggle="modal"
                   data-delete-first-name="@employee.FirstName" data-delete-last-name="@employee.LastName"
                   data-id="@employee.Id">
                    @Html.Icon("delete")
                </a>
            }
        </td>
    </tr>
    }
</table>
@Html.RegisterNewButton(Url.Action("Add"))

