﻿@using EmployeeDirectory.Features.Employees
@model EmployeeDirectory.Features.Account.ChangePassword.Command

@{
    ViewBag.Title = "title";
}

<h1>Change Password</h1>
@using (Html.BeginForm())
{
    @Html.Input(x => x.CurrentPassword)
    @Html.Input(x => x.NewPassword)
    @Html.Input(x => x.ConfirmPassword)

    <div>
        @Html.CreateButton("Change Password")
        @Html.CancelButton(Url.Action("Index", "Employees"))
    </div>
}
