﻿@using System.ComponentModel.DataAnnotations
@using EmployeeDirectory.Features.Account
@model EmployeeDirectory.Features.Account.LogIn.Command

@{
    ViewBag.Title = "title";
}

<h1>Log In</h1>
@using (Html.BeginForm())
{
    @Html.Input(x => x.Email)
    @Html.Input(x => x.Password)

    <div>
        @Html.CreateButton("Log In")
    </div>
}
